body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center
{
    text-align: center;
    color: white;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.puppy
{
    border-radius:50%;
    height:200px;
}
#rcorner1 {
    border-radius: 50%;
}
#img1, #img2,#img3,#img4,#img5,#img6,#img7
{
    border-radius: 50%;
    height: 200px;
}
#cute,#cute1
{
    color: white ;
}
div puppy{
         width: 100px;
         height:100px;
 }